* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a,
a:visited,
a:hover,
a:active {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.navMenu {
  position: fixed;
  top: 0;
  padding: 0 20px;
  border-bottom: solid 1px #e8e8e8;
  overflow: auto;
  transition: top 0.4s;
  box-shadow: 0 0 30px #f3f1f1;
  background-color: white;
  z-index: 5;
  width: 100%;
  height: 3.5rem;
  line-height: 3.5rem;
  text-align: center;
}

.menu__container .menu_left {
  float: left;
}

.menu__container .menu_rigth {
  float: right;
}

.menu__logo a {
  font-size: 20px;
  padding: 19px 20px;
}

.menu__container a {
  padding: 1rem 1rem;
}

/* Mobile Responsive */
@media (max-width: 767px) {
  .menu_left,
  .menu_rigth {
    display: none;
  }

  .mobile-nav-class {
    float: left;
  }

  .menu__mobile-button {
    border: none;
    height: 3.5rem;
    display: block;
    background-color: white;
  }

  .mobile__menu__wrapper {
    display: flex;
    height: 100%;
    margin: 3rem auto;
    color: black;
    flex-flow: column nowrap;
  }

  .mobile__menu__wrapper__ul {
    list-style: none;
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
  }

  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-moz-keyframes fadein {
    /* Firefox */
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-webkit-keyframes fadein {
    /* Safari and Chrome */
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-o-keyframes fadein {
    /* Opera */
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .none {
    display: none;
  }

  /* hamburger menu */
  .hamburger-menu-bar1,
  .hamburger-menu-bar2,
  .hamburger-menu-bar3 {
    width: 1.3rem;
    height: 0.23rem;
    background-color: #333;
    margin: 0.2rem 0;
    transition: 0.4s;
  }
  .x__menu > .hamburger-menu-bar1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 5px);
    transform: rotate(-45deg) translate(-5px, 5px);
  }

  .x__menu > .hamburger-menu-bar2 {
    opacity: 0;
  }

  .x__menu > .hamburger-menu-bar3 {
    -webkit-transform: rotate(45deg) translate(-5px, -5px);
    transform: rotate(45deg) translate(-5px, -5px);
  }
}
